/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}

.container {
    width: 90%; /* Cambié el 92% por 90% */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 45%; /* Utilizamos porcentajes para ajustar el ancho */
    margin: 10px;
    position: relative;
}

.personaje {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(68, 68, 68);
}

.personaje img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text {
    display: none;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

.card:hover .personaje {
    background-image: radial-gradient(white, rgb(68, 68, 68));
}

.letter {
    position: absolute;
    top: 15%;
    left: 45%;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Button {
    position: absolute;
    top: 92.4%;
    left: 110%;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5e646a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.Button:hover {
    background-color: #353637;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .card {
        width: 90%; /* Ajustamos el ancho de la tarjeta para dispositivos más pequeños */
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding-top: 680%; /* Esto parece un error, no deberías necesitar esto */
    }

    .card {
        width: 100%; /* Cambiamos el ancho de la tarjeta para dispositivos móviles */
    }

    .personaje img {
        width: 100%;
    }
}
